{% extends 'base.html' %}
{% block title %}Course Teacher - Online Learning{% endblock %}
{% load staticfiles %}
{% block custom_bread %}
    <section>
        <div class="wp">
            <ul  class="crumbs">
                <li><a href="/">Homepage</a>></li>
                <li>Course Teacher</li>
            </ul>
        </div>
    </section>
{% endblock %}

{% block content %}
    <section>
	<div class="wp butler_list_box list">
	<div class='left'>
		<div class="butler_list layout">
			<div class="head">
				<ul class="fl tab_header">
					<li {% if sort == '' %}class="active"{% endif %}><a href="?sort=">all</a> </li>
					<li {% if sort == 'hot' %}class="active"{% endif %}><a href="?sort=hot">popularity &#8595;</a></li>
				</ul>
                <div class="fr butler-num"><span class="key">total: 9 &nbsp;&nbsp;</span></div>
			</div>
            {% for teacher in all_teachers.object_list %}
            <dl class="des">
                <dt>
                    <a href="{% url 'org:teacher_detail' teacher.id %}">
                        <div class="picpic">
                            <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                        </div>
                    </a>
                    <div class="btn">
                        <div class="fr btn2 bdsharebuttonbox"
                             data-text="授课教师-奥巴马-在线学习在线"
                             data-desc="我在#慕课网#发现了教师“奥巴马”，对学习中的小伙伴很有帮助，一起来看看吧。"
                             data-comment="奥巴马金牌讲师，从业年限：5年"
                             >
                            <span class="fl">分享</span>
                            <a href="#" class="bds_more" data-cmd="more"></a>
                        </div>
                    </div>
                </dt>
                <dd>
                    <a href="{% url 'org:teacher_detail' teacher.id %}">
                        <h1>{{ teacher.name }}<span class="key picbig">gold-medal instructor</span></h1>
                    </a>
                    <ul class="cont">
                        <li>Years of Experience: <span>{{ teacher.work_years }} years</span></li>
                        <li>Age: <span>{{ teacher.age }}</span></li>
                        <li>Employer: <span>{{ teacher.work_company }}</span></li>
                        <li>Position: <span>{{ teacher.work_position }}&nbsp;</span></li>
                        <li>Teaching Characteristics: <span>{{ teacher.points }}</span></li>
                    </ul>
                </dd>
                <a class="buy buyservice" href="{% url 'org:teacher_detail' teacher.id %}"><br/>view<br/>detail</a>
            </dl>
            {% endfor %}
                <!-- {% for teacher in all_teachers.object_list %}
                <dl class="des">
					<dt>
						<a href="{% url 'org:teacher_detail' teacher.id %}">
                            <div class="picpic">
                                <img width="100" height="100" class="scrollLoading" src="{{ MEDIA_URL }}{{ teacher.image }}"/>
                            </div>
                        </a>
						<div class="btn">
                            <span class="fr btn2 bdsharebuttonbox" 
                            ata-text="Teaching Teacher-Mr.Ben-Online Learning Website"
                            data-desc="I found on #Online Learning#"
                            data-comment="Mr. Ben, Work Experience: 5 years; Education: Bachelor's degree; Company: abc&nbsp; Classic Cases: Introduction and In-depth of Django; Introduction to Flask"
                            data-url="/diary/hk_detail/10/">
                                <span class="fl">share</span>
                                <a href="#" class="bds_more" data-cmd="more"></a>
                            </div>
						</div>
                    </dt>

                        <dd>
                            <a href="{% url 'org:teacher_detail' teacher.id %}">
                                <h1>{{ teacher.name }}<span class="key picbig">gold-medal instructor</span></h1>
                            </a>
                            <ul class="cont">
                                <li>Years of Experience: <span>{{ teacher.work_years }} years</span></li>
                                <li>Age: <span>{{ teacher.age }}</span></li>
                                <li>Employer: <span>{{ teacher.work_company }}</span></li>
                                <li>Position: <span>{{ teacher.work_position }}&nbsp;</span></li>
                                <li>Teaching Characteristics: <span>{{ teacher.points }}</span></li>
                            </ul>
                        </dd>
                        <a class="buy buyservice" href="{% url 'org:teacher_detail' teacher.id %}"><br/>view<br/>detail</a>


                </dl>
                {% endfor %} -->


		</div>
		<div class="pageturn">
            <ul class="pagelist">
                {% if all_teachers.has_previous %}
                    <li class="long"><a href="?{{ all_teachers.previous_page_number.querystring }}">pre</a></li>
                {% endif %}

                {% for page in all_teachers.pages %}
                    {% if page %}
                        {% ifequal page all_teachers.number %}
                            <li class="active"><a href="?{{ page.querystring }}">{{ page }}</a></li>
                        {% else %}
                            <li><a href="?{{ page.querystring }}" class="page">{{ page }}</a></li>
                        {% endifequal %}
                    {% else %}
                        <li class="none"><a href="">...</a></li>
                    {% endif %}
                {% endfor %}
                {% if all_teachers.has_next %}
                    <li class="long"><a href="?{{ all_teachers.next_page_number.querystring }}">next</a></li>
                {% endif %}

            </ul>
        </div>
	</div>
	<div class="right layout">
		<div class="head">instructor rank</div>
            {% for hot_teacher in sorted_teacher %}
            <dl class="des">
                <span class="num fl">1</span>
                <a href="/diary/hk_detail/6/">
                    <dt>
                        <img width="50" height="50" class="scrollLoading"  src="{{ MEDIA_URL }}{{ hot_teacher.image }}"/>
                    </dt>
                </a>
                <dd>
                    <a href="/diary/hk_detail/6/">
                        <h1 title="{{ hot_teacher.name }}">{{ hot_teacher.name }}</h1>
                    </a>
                    <p>Years of experience:<span>{{ hot_teacher.work_years }}</span></p>
                </dd>
            </dl>
            {% endfor %}

	</div>
    </div>
</section>
{% endblock %}

